@media (min-width:1200px) and (max-width:1399.98px) {

  // registration page start
  .registration_page .right_side {
    padding: 50px 24px 50px 0;
  }

  .registration_page .left_side .info h4 {
    font-size: 28px;
  }

  .registration_page .left_side .info h5 {
    font-size: 22px;
  }

  // registration page end
}

@media (min-width:992px) and (max-width:1199.98px) {

  // registration page start
  .registration_page .right_side {
    padding: 50px 24px 50px 0;
  }

  .registration_page .left_side .info h4 {
    font-size: 28px;
  }

  .registration_page .left_side .info h5 {
    font-size: 22px;
  }

  // registration page end
}

@media (min-width:768px) and (max-width:991.98px) {

  // registration page start

  // registration page end
}

@media (min-width:576px) and (max-width:767.98px) {

  // login page start
  .login_page .left_info {
    position: static;
    width: 100%;
    display: none !important;
  }

  .login_page .right_info {
    position: static;
    width: 100%;
  }

  .login_page .login_box {
    height: auto;
  }

  // login page end
  // registration part start
  .registration_page .right_side .top_title h2 {
    font-size: 30px;
  }

  .registration_page .right_side .top_title h4 {
    font-size: 22px;
  }

  .registration_page .right_side {
    padding: 30px 12px;
  }

  .registration_page .right_side fieldset {
    padding: 30px 14px;
  }

  .registration_page .right_side .submit_btn {
    min-width: 100%;
  }

  .registration_page {
    max-width: 576px;
    margin: 0 auto;
  }

  // registration part end
}

@media (max-width:575.98px) {

  // login page start
  .login_page .left_info {
    position: static;
    width: 100%;
    display: none !important;
  }

  .login_page .right_info {
    position: static;
    width: 100%;
  }

  .login_page .login_box {
    height: auto;
  }

  // login page end

  // registration part start
  .registration_page .right_side .top_title h2 {
    font-size: 30px;
  }

  .registration_page .right_side .top_title h4 {
    font-size: 22px;
  }

  .registration_page .right_side {
    padding: 30px 12px;
  }

  .registration_page .right_side fieldset {
    padding: 30px 14px;
  }

  .registration_page .right_side .submit_btn {
    min-width: 100%;
  }

  // registration part end
}