@import "../variable/variable";
@import "../mixin/font";

main {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $body;

  .left_sidebar {
    .profile_widget {
      background-color: $white;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
      text-align: center;
      padding: 30px;
      border-radius: 10px;

      .image {
        figure {
          border-radius: 50%;
          margin-bottom: 20px;
          display: inline-block;
          position: relative;

          img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: inherit;
          }
        }

        .file_upload {
          position: absolute;
          right: 0;
          bottom: 0;

          i {
            border-radius: 50%;
            border: 4px solid #ffffff;
            display: grid;
            place-items: center;
            background-color: #22C55E;
            color: white;
            font-size: 16px;
            height: 40px;
            width: 40px;
            cursor: pointer;
          }
        }
      }

      .text {
        h4 {
          @include font(22px, 500);
        }

        span {
          @include font(17px, 400);
          color: rgba(0, 0, 0, 0.9);
        }
      }
    }

    .main_menu {
      margin-top: 20px;

      li {
        a {
          border-radius: 10px;
          display: flex;
          align-items: center;
          padding: 14px;
          color: $black;
          width: 100%;
          position: relative;
          padding-left: 44px;
          transition: all linear .2s;

          &:hover {
            background-color: $white;
          }

          h5 {
            width: 200px;
            @include font(18px, 500);
          }

          i {
            width: 30px;
            position: absolute;
            left: 14px;
            top: 50%;
            transform: translateY(-50%);
          }

          .fa-power-off {
            color: #EF4444;
          }

          .logout {
            color: #EF4444;
          }

          span {
            margin-left: auto;
            background-color: #EF4444;
            color: #ffffff;
            @include font(13px, 500);
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            border-radius: 50%;
          }
        }
      }

      .active {
        a {
          color: $primary;
          background-color: $white;

          i {
            font-size: 17px;
          }

          h5 {
            color: $primary;
          }
        }
      }
    }
  }

  .right_info {

    // padding: 30px;
    // border: 1px solid #EAEAEA;
    // border-radius: 10px;
    // background: $white;
    .dashboard_info {
      .top_short_info {
        margin-bottom: 24px;

        .short_info_item {
          background-color: $white;
          border-radius: 10px;
          border: none;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
          padding: 30px 30px;

          .media {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .icon-wrap {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
              color: $white;
              font-size: 26px;
            }
          }

          .count-detail {
            h3 {
              @include font(28px, 600);
              margin-bottom: 4px;
            }
          }

          .bg-warning {
            background-color: #ff9800 !important;
          }

          .bg-success {
            background-color: #10b981 !important;
          }

          .bg-info {
            background-color: #0ea5e9 !important;
          }
        }
      }

      .common_block {
        background-color: $white;
        padding: 24px;
        border-radius: 10px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
        margin-bottom: 24px
      }
    }
  }

  fieldset {
    border: 1px solid #c4c4c4;
    padding: 24px;
    position: relative;
    border-radius: 10px;
    height: 100%;

    .sub__header {
      background-color: $white;
      padding: 2px 8px;
      position: absolute;
      top: -16px;
      left: 16px
    }
  }
}

.common__title {
  @include font(24px, 600);
  margin-bottom: 20px;
  border-left: 2px solid $primary;
  border-right: 2px solid $primary;
  border-radius: 8px;
  padding: 0px 10px 4px 10px;
  display: inline-block;
}

.sub__header {
  @include font(19px, 500);
  margin-bottom: 20px;
}

.downloaded_files {
  position: relative;
  padding: 10px 0;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #ddd;
    content: "";
    border-radius: 10px;
  }

  li {
    padding: 8px 0;
    padding-left: 30px;
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -6px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $white;
      border: 2px solid $black;
      content: "";
      transition: all linear .2s;
    }

    a {
      @include font(17px, 500);
      color: $black;
      transition: all linear .2s;
    }

    &:hover {
      &::before {
        border-color: $primary;
      }

      a {
        &:hover {
          color: $primary;
        }
      }
    }
  }
}