@import "../variable/variable";
@import "../mixin/font";

footer {
  background-color: $black;
  padding: 20px 0;
  margin-top: auto;

  p {
    color: $white;

    a {
      color: $primary;
    }
  }
}