@import "../variable/variable";
@import "../mixin/font";

.submission__file {
  background-color: $secondary;
  color: $white;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 3px;
}

.view__submission {
  background-color: $primary;
  color: $white;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 3px;
  font-size: 14px;
}

.common__btn__ {
  background-color: #00ADEF;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  padding: 6px 16px;
  transition: all linear 0.2s;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  &:hover {
    background-color: $black;
  }
}

.input__groups {
  label {
    margin-bottom: 5px;
    @include font(15px, 600);
  }

  input {
    width: 100%;
    height: 45px;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    padding: 0 12px;

    &:focus {
      border-color: $primary;
    }
  }

  textarea {
    width: 100%;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    padding: 12px;

    &:focus {
      border-color: $primary;
    }
  }
}

.submit__submission {
  background-color: $secondary;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 24px;
  transition: all linear 0.2s;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border: 0;
}

.document__submission__pdf {
  label {
    margin-bottom: 5px;
    @include font(15px, 600);
  }

  .document__submission__widget {
    background-color: #F7F8FC;
    border: 2px dashed #e0e0e0;
    border-radius: 3px;
    padding: 30px;

    h6 {
      @include font(17px, 600);
      margin-bottom: 8px;
    }

    label {
      color: $primary;
      @include font(17px, 600);
      margin-right: 5px;
      cursor: pointer;
    }
  }
}

.uploaded__pdf__file {
  padding: 10px 20px;
  background: #F7F8FC;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  display: flex;
  align-items: center;

  .text {
    h5 {
      @include font(17px, 500);
    }

    small {
      color: $secondary;
      font-size: 14px;
    }
  }

  .delete {
    i {
      cursor: pointer;
      color: $secondary;
    }
  }
}